
@model Animals.Models.Post
@using Microsoft.AspNet.Identity;

@using (Html.BeginForm("MessageDetails", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ParentPostID",Model.PostID)
    @Html.Hidden("IDforUser", HttpContext.Current.User.Identity.GetUserId())
    @Html.Hidden("IDforDestination",Model.IDforUser)
    @Html.Hidden("Date", DateTime.Now.ToString("dd.MM.yyyy"))
    @Html.Hidden("Topic", "Direct message")
    @Html.Hidden("Title", null)
    @Html.Hidden("IsPublic", false)

    <div class="container-fluid p-3 bg-light">
        <div class="form-group">
            @Html.TextArea("Content", null, new { @class = "form-control", Rows = "3", Style = "resize:none" })
        </div>
    </div>
    <div class="text-center">

        <button type="submit" class="btn btn-secondary btn-center" style="width:370px">Gönder</button>
    </div>
}