@model Animals.Models.PetAnnouncement
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="container dl-horizontal">
            <dd>
                <div class="border border-secondary" style="width: 15rem;">
                    <img src="/Image/@Model.Photo" class="card-img-top" style="height:100%;width:100%" alt="@Model.Title">
                </div>
            </dd>
            <dd>
                <p>@Html.DisplayFor(model => model.Explanation)</p>
            </dd>
            <dt>
                Evcil Hayvanın Türü
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.Type)
            </dd>

            <dt>
                Evcil Hayvanın Cinsi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breed.Breed)
            </dd>

            <dt>
                Evcil Hayvanın Yaşı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                Şehir
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City.City)
            </dd>

            <dt>
                İlanı Veren Kullanıcının Adı
            </dt>

            <dd>
                @if (TempData["User"] != null)
                {
                    var user = (Animals.Identity.ApplicationUser)TempData["User"];
                    <p>@user.UserName</p>
                }
            </dd>

            <dt>
                İlan Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>

    @if (Request.IsAuthenticated && Model.IDforUser.Equals(HttpContext.Current.User.Identity.GetUserId()))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.AnnouncementID })
        </p>
    }
    else if (Request.IsAuthenticated && !Model.IDforUser.Equals(HttpContext.Current.User.Identity.GetUserId()))
    {
        <p>
            @Html.ActionLink("Talepte Bulun", "Demand", new { id = Model.AnnouncementID }) |
        </p>
    }
</body>
</html>
