@model Animals.Models.PetAnnouncement

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="container dl-horizontal">
            <dd>
                <div class="border border-secondary" style="width: 15rem;">
                    <img src="/Image/@Model.Photo" class="card-img-top" style="height:100%;width:100%" alt="@Model.Title">
                </div>
            </dd>
            <dd>
                <p>@Html.DisplayFor(model => model.Explanation)</p>
            </dd>
            <dt>
                Evcil Hayvanın Türü
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                Evcil Hayvanın Cinsi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breed)
            </dd>

            <dt>
                Evcil Hayvanın Yaşı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                Şehir
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                İlanı Veren Kullanıcının Adı
            </dt>

            <dd>
                @if (TempData["User"] != null)
                {
                    var user = (Animals.Models.Users)TempData["User"];
                    <p>@user.UserName</p>
                }
            </dd>

            <dt>
                İlan Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
