@model Animals.Models.PetAnnouncement


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AnnouncementID)

        <div class="container pb-5 form-horizontal">
            <h4>PetAnnouncement</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="type" class="text-center">Evcil Hayvanın Türü</label>
                <div class="col-md-10">
                    @Html.DropDownList("TypeId", (SelectList)ViewBag.vbTypeId, new { htmlAttributes = new { @class = "typeList form-control", id = "typeList" } })
                    @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="text-center">Evcil Hayvanın Cinsi</label>
                <div class="col-md-10">
                    @Html.DropDownList("BreedId", (SelectList)ViewBag.vbBreedId, new { htmlAttributes = new { @class = "breedList form-control", id = "select" } })

                    @*<select id="select" name="BreedId">
                        <option value="default"></option>
                    </select>*@

                </div>
            </div>
            <script>
                window.addEventListener('load', function () {
                const pet = document.getElementById('TypeId');
                const petType = document.getElementById("select");
                pet.addEventListener('change', (event) => {
                    console.log(event.target.value);
                    $("#BreedId").empty();
                    $.ajax({
                    url: "@Url.Action("GetBreeds")",
                    dataType: "json",
                    data: {
                        petType: event.target.value
                    },
                    type: "Post",
                        success: function (breeds) {
                            $.each(breeds, function (i, breed) {
                                $("#BreedId").append('<option value="' + breed.Value + '">' +
                                    breed.Text + '</option>');
                            });
                        }
                });
                    });
                });
            </script>

            <div class="form-group">
                <label for="age" class="text-center">Evcil Hayvanın Yaşı</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="city" class="text-center">Şehir</label>
                <div class="col-md-10">
                    @Html.DropDownList("CityId", ViewBag.vbCityId as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label for="photo" class="text-center">Evcil Hayvanın Fotoğrafı</label>
                <div class="col-md-10">
                    <input type="file" name="Photo" />
                    @Html.ValidationMessage("Photo", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="text-center">Başlık</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label for="explanation" class="text-center">Açıklama</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Explanation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

