@model Animals.Models.Users
@{
    ViewBag.Title = "View";
}
@if (TempData["User"] != null)
{
    var user = (Animals.Models.Users)TempData["User"];
    <div class="alert alert-success" role="alert">
        <strong>@(user.Name + " " + user.LastName)</strong> adlı kullanıcıya ait bilgiler güncellendi.
    </div>
}
<div class="p-1 bg-light .w-50 mx-auto my-5 .mh-100 " style="height:708px; width:813px">
    <div class="p-3 bg-light  " style="height:700px;width:400px;display:inline-block">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post))
        {
            <p class="text-center h3">Kullanıcı Bilgilerim</p>
            <hr />
            @Html.AntiForgeryToken()
            @Html.Hidden("UserID",Model.UserID)
            <div class="clearfix mt-4">

                <div class="w-50 float-left">
                    <div class="form-group">
                        <label for="name">Ad</label>
                        <label>
                            @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                        </label>
                        @Html.TextBox("Name", null, new { @class = "form-control" })

                    </div>
                </div>

                <div class="w-50 float-left pl-2">
                    <div class="form-group">
                        <label for="lastname">Soyad</label>
                        <label>
                            @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })
                        </label>
                        @Html.TextBox("LastName", null, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="message">İletişim Bilgileri</label>
                <label>
                    @Html.ValidationMessage("Contact", "", new { @class = "text-danger" })
                </label>
                @Html.TextArea("Contact", null, new { @class = "form-control", Rows = "3", Style = "resize:none" })
            </div>

            <div class="form-group">
                <label for="email">E-Posta</label>
                <label>
                    @Html.ValidationMessage("EMail", "", new { @class = "text-danger" })
                </label>
                @Html.TextBox("EMail", null, new { @class = "form-control", Type = "email" })
            </div>
            @* Add confirm password later *@

            @*Onay checkbox'ı olmuyor off:(
                <div class="custom-control custom-checkbox">
                    @Html.CheckBox("Confirm", new { @class = "custom-control-input", Type = "checkbox" })
                    <label class="custom-control-label" for="ch">Bilgilerimi Onaylıyorum</label>
                </div>*@

            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-center" style="width:370px">Güncelle</button>

            </div>
        }
    </div>
    <div class="p-3 bg-light " style="height:600px;width:400px;display:inline-block">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post))
        {
            <p class="text-center h3">Şifre Güncelleme</p>
            <hr />
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="password">Şu Anki Şifre</label>
                @Html.TextBox("PasswordEx", null, new { @class = "form-control", Type = "password" })

            </div>
            <div class="form-group">
                <label for="passwordn">Yeni Şifre</label>
                @Html.TextBox("PasswordNew", null, new { @class = "form-control", Type = "password" })

            </div>
            <div class="form-group">
                <label for="passwordnn">Yeni Şifre(Tekrar)</label>
                @Html.TextBox("PasswordNew2", null, new { @class = "form-control", Type = "password" })
            </div>
            <br /><br />

            @* Add confirm password later *@

            @*Onay checkbox'ı olmuyor off:(
                <div class="custom-control custom-checkbox">
                    @Html.CheckBox("Confirm", new { @class = "custom-control-input", Type = "checkbox" })
                    <label class="custom-control-label" for="ch">Bilgilerimi Onaylıyorum</label>
                </div>*@

            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-center" style="width:370px">Güncelle</button>

            </div>
        }
    </div>
</div>
